+++
title = "Diário de Bordo"
+++

{{< blocks/cover title="Bem vindo ao meu Diário de Bordo!" image_anchor="top" height="min" color="orange" >}}
<div class="mx-auto">
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Um local para registro e compartilhamento do meu aprendizado e `otras cositas mas`!

O lema aqui é: `Se serviu pra mim, deve servir pra mais alguém!`

Veja abaixo como estamos organizados.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fas fa-blog" title="Novidades!" url="https://sandrorgguimaraes.github.io/blog/"%}}
Onde registramos as novidades, é o nosso CHANGELOG!

Para acompanharmos a evolução ao longo do tempo.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-book" title="Vivendo & Aprendendo" url="https://sandrorgguimaraes.github.io/docs/vivendo-e-aprendendo"%}}
Uma coletânea de link's para os mais diversos materiais que de alguma forma contribuiram para o nosso aprendizado.

É o nosso Bookmarks! para materiais produzidos por terceiros.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-book" title="Colocando em prática" url="https://sandrorgguimaraes.github.io/docs/colocando-em-pratica" %}}
Aqui disponibilizamos as nossas trilhas de estudo, documentação dos nossos projetos, artigos publicados, etc.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-hashtag" title="HashTags" url="https://sandrorgguimaraes.github.io/docs/hashtags" %}}
Espaço para aqueles items que precisam ser encontrados de forma rápida, para estudo ou diversão.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Conteúdo colaborativo" %}}
Em todo o site teremos link's (na lateral direita) para o envio de sugestões e melhorias, edição do conteúdo, etc.

Participe, você é bem vindo(a)!
{{% /blocks/feature %}}

{{< /blocks/section >}}
